# =========================
# Build目录
# =========================
build/
debug/
release/

# CMake build
build-*/

# =========================
# Qt Creator
# =========================
*.pro.user
*.pro.user.*
*.qbs.user
*.autosave
CMakeLists.txt.user

# =========================
# 编译生成文件
# =========================
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# =========================
# moc/uic/rcc 自动生成
# =========================
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

# =========================
# 临时文件
# =========================
*.log
*.tmp
*.cache

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Qt deploy生成
# =========================
.qt/

# =========================
# 打包输出
# =========================
*.zip
*.7z
*.rar

# =========================
# Python脚本文件
# ========================
all_code.txt
*.py